<!DOCTYPE html>
<html style="font-family: 'Amatic SC';">
  <head>

    <link rel='stylesheet' href='/stylesheets/tidy-css.css' />
    <link rel='stylesheet' href='/stylesheets/foundation.min.css' />
    <link rel='stylesheet' href='/stylesheets/wedding.css' />
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Josefin+Sans|Satisfy" rel="stylesheet">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
  </head>
  <body style="background-image: url('/paper-background.png'); background-repeat: repeat;">

    <main>
      <div class="row">
        <div style="text-align:center">
          <h1 class="header-title" style="margin-top:10px; margin-bottom:20px">Alice <span style="font-size: 0.7em">&</span> Andy 2017</h1>
        </div>
        <div style="text-align: center">
          <img src="/couple.png" style="width: 300px; -webkit-transform: rotate(350deg); transform: rotate(350deg); padding-bottom:10px">
          <img src="/goofy.png" style="width: 300px; -webkit-transform: rotate(7deg); transform: rotate(7deg); margin-top:-30px; padding-left:5px;">
        </div>

        <p style="font-size:3em; font-weight:600; text-align: center">Kindly let us know if you can attend by 1st February</p>
        <form style="font-family: 'Josefin Sans'" method="POST" action="/" style="margin: auto;">
          {{#error}}
            <div class="column large-12 medium-12 small-12">
              <span style="color: #C54E55; font-size:1.5em; font-weight: 600">Please fill in name, whether you're attending, and number attending</span>
            </div>
          {{/error}}
          <div class="column large-12">
            <div class="column large-12 medium-12 small-12">
              <label class="label-less-padding" for="name" style="display:inline">Name</label>
              <input type="text" name="name" class="name" id="name" maxlength="50" style="display:inline; width: 60%; ">
            </div>
            </div>
            <div class="column large-12">
              <ul class="rvsp">
                <li>
                  <input type="radio" id="attending-yes" name="attending" value="yes" style="height:30px"><label id="padded-label" for="attending-yes">Excited to celebrate with you</label>
                </li>
                <li>
                  <input type="radio" id="attending-no" name="attending" value="no" style="height:30px"><label id="padded-label" for="attending-no">Sorry, wish we could be there</label>
                </li>
              </ul>
              <br>
              <ul class="rvsp">
                <li>
                  <input type="checkbox" onclick="$('#dietaryText').toggle()" name="dietary" id="dietary"><label id="padded-label" for="dietary">Dietry requirements</label>
                </li>
              </ul>
              <div class="column large-8 medium-9">
                <input style="display:none; margin-bottom:20px" type="text" name="dietaryText" id="dietaryText">
              </div>
              <div class="column large-6 medium-6 small-6 end">
                <label class="label-less-padding" for="numberAttending" style="display:inline">Number attending</label>
                <input name="numberAttending" type="text" id="numberAttending" style="display:inline; width:30px; text-align: center;" maxlength="2">
              </div>
            </div>
            <div class="column large-12">
              <div class="column large-9 medium-9">
                <label class="label-less-padding" for="song1">And a couple of songs for our wedding playlist</label>
                <input name="song1" id="song1" type="text" maxlength="100">
                <input name="song2" id="song2" type="text" maxlength="100">
              </div>
            </div>
            <div class="column large-12">
                <input type="submit" class="send-button" style="margin-top:20px" value="Send">
              </div>
          </form>
      </div>
    </main>
    <div class="footer">
      <div class="row">
      <div class="small-5 columns">
        <a style="font-size:2em; font-weight:800; text-align: center; margin-top: 2em; margin-bottom: 2em;" href="/registry">gift Registry</a>
      </div>
      <div class="small-5 columns">
        <a href="mailto:andyjwilko@gmail.com" style="font-size:2em; font-weight:800; margin-top: 2em; margin-bottom: 2em;">get in touch at andyjwilko@gmail.com</a></div>
      </div>
      </div>
    </div>
  </body>

</html>