<!DOCTYPE html>
<html style="font-family: 'Amatic SC';">
  <head>

    <link rel='stylesheet' href='/stylesheets/tidy-css.css' />
    <link rel='stylesheet' href='/stylesheets/foundation.min.css' />
    <link rel='stylesheet' href='/stylesheets/wedding.css' />
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Josefin+Sans|Satisfy" rel="stylesheet">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
  </head>
  <body style="background-image: url('/paper-background.png'); background-repeat: repeat;">

    <main>
      <div class="row">
        <div class="large-12 centre" style="margin-top: 200px; font-family: 'Josefin Sans'">
          <h1 style="font-size: 2.5em">All we wish for is a day to celebrate with our friends and family, so please do not feel obliged to give us a gift. However, if you wish to buy us something, and are looking for inspiration, our wedding registries will be open from 1st April.</h1> <a href="http://amzn.eu/gOQaY8p" target="_blank"><img style="height:100px" src="/amzn.jpg"></a> <a href="http://www.notonthehighstreet.com/weddings/lists/6910708" target="_blank"><img style="height:100px" src="/noths.png"></a>
        </div>
      </div>
    </main>
  </body>

</html>